version: '3'

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: qme_search
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    restart: always

  backend:
    build: .
    restart: always
    environment:
      DATABASE_URL: postgres://user:password@postgres/qme_search
      REDIS_URL: redis://redis:6379
    ports:
      - '3000:3000'
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
    driver: local
